div.grid {
	display: flex;
	flex-flow: row wrap;
	/*border: 5px solid green;*/
}

section {
	flex: 4;
	/*border: 3px solid black;*/
}

aside {
	flex: 2;
	border: 3px solid red;
margin: 30px;

}
  
body {
    font-family: "Helvetica Neue", Helvetica , Arial, sans-serif;
    font-size: 1em;
}

article {
	border: 1px solid;
    padding: 20px;
    margin: 20px;
    background: #dddddd;
    border-color: black;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

h1 {
	font-size: 2.5em;
	text-align: center;
    border: 0px solid;
}

fieldset {
	width: 300px;
	padding-top: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background: #dddddd;
	border: 1px solid;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
 	margin: auto; /* zentriert Formular */
}

/*nicht mehr verwendet*/
legend {
	background: white;
	padding: 0.3em;
	border: 1px solid #000330;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button[type="submit"]:hover {
    background:#366896;
    border: 1px solid #3879B4; 
}

button[type="submit"]:active {
    background:#8f8f8f;
}

button[type="submit"] {
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #3879B4;
	border: 1px solid #3879B4;
	color: #ffffff;
	border-radius: 0px;
	position: relative;
	
}

label {
    display: inline-block;
}

label.checkUsername {
	font-size: 0.75em;	
}


input {
	width: 100%;
	font-size: 0.9em;
}

input:hover {
    background: #fffff0;
    border: 2px solid #efe816; 
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input:required + label::after{
	color: red;
	content: "*";
	position: relative;
	left: 240px;
	top: -23px;
	}

input:valid + label::after{
    color: green;
    content: "✔";
   	position: relative;
	font-size: 0.85em;
	left: 240px;
	top: -23px;
}

input.userExisting + label::after{
    color: red;
    content: "Benutzername bereits vorhanden";
	position: relative;
	left: 240px;
	top: -50px;
	
}

input.userNotExisting + label::after{
    color: red;
    content: "Benutzername nicht vorhanden";
	  font-size: 0.75em;
		position: relative;
	left: 1px;
	top: 0px;
}

button.answer:hover {
    background: #366896;
    border: 1px solid #3879B4; 
}

button.answer:active {
    background: #8f8f8f;
}

button.answer {
	width: 12em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #3879B4;
	border: 1px solid #3879B4;
	color: #ffffff;
	border-radius: 0px;
}

button.answerTrue {
	width: 12em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: green;
	border: 1px solid #3879B4;
	color: #ffffff;
	border-radius: 0px;
}

button.answerFalse {
	width: 12em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: red;
	border: 1px solid #3879B4;
	color: #ffffff;
	border-radius: 0px;
}

div.button {
	text-align: center;
}

div.formhead {
	font-size: 1.8em;
	text-align: center
}

div.register {
	font-size: 0.75em;
	text-align: center;
}

div.login {
	font-size: 0.75em;
	text-align: center;
}

div.inputrequired {
	font-size: 0.75em;
	position: relative;
	text-align: right;
}

div.noscript {
	display: flex;
	align-items: center;
  	justify-content: center;
	padding: 25px;
	background: red;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.9;
	font-size: 1.5em;
}

/* Dropdown Button */
.dropbutton {
    background-color: #3879B4;
    color: white;
    padding: 6px;
    font-size: 1em;
    border: none;
    cursor: pointer;
	width: 100px;
}

/* dropdown Container zum Positionieren */
.dropdown {
    position: relative;
    display: inline-block;
}

/* dropdown Inhalt */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links innerhalb dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
	 text-align: left;
}

/* Farbwechsel */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* dropdown aufklappen */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Farbwechsel beim dropdownbutton */
.dropdown:hover .dropbutton {
    background-color: #366896;
}


footer {
	font-size: 0.7em;
	text-align: center;
}

nav {
	font-size: 0.9em;
	position: relative;
	text-align: right;
	right: 80px;
}